<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <div th:replace="fragments :: bootstrap_head"></div>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h3 class="display-4">Dashboard</h3>
                <hr>
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/tickets.png" class="card-img-top bg-dark" alt="Ticketing">
                            <div class="card-body text-center">
                                <a href="/manage/ticketing" class="btn btn-primary m-2">Ticketing</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/movies.png" class="card-img-top bg-dark" alt="Movies">
                            <div class="card-body text-center">
                                <a href="/manage/movies" class="btn btn-primary m-2">Movies</a><br>
                                <a href="/manage/movies/add" class="btn btn-primary m-2">Add New Movie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/screenings.png" class="card-img-top bg-dark" alt="Screenings">
                            <div class="card-body text-center">
                                <a href="/manage/screenings" class="btn btn-primary m-2">Screenings</a><br>
                                <a href="/manage/screenings/add" class="btn btn-primary m-2">Add New Screening</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/upcoming_movies.png" class="card-img-top bg-dark" alt="Upcoming Movies">
                            <div class="card-body text-center">
                                <a href="/manage/upcoming" class="btn btn-primary m-2">Upcoming Movies</a><br>
                                <a href="/manage/upcoming/add" class="btn btn-primary m-2">Add an Upcoming Movie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/theaters.png" class="card-img-top bg-dark" alt="Theaters">
                            <div class="card-body text-center">
                                <a href="/manage/theaters" class="btn btn-primary m-2">Theaters</a><br>
                                <a href="/manage/theaters/add" class="btn btn-primary m-2">Add New Theater</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/technologies.png" class="card-img-top bg-dark" alt="Technologies">
                            <div class="card-body text-center">
                                <a href="/manage/technologies" class="btn btn-primary m-2">Technologies</a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/employees.png" class="card-img-top bg-dark" alt="Employees">
                            <div class="card-body text-center">
                                <a href="/manage/employees" class="btn btn-primary m-2">Employees</a><br>
                                <a href="/manage/employees/add" class="btn btn-primary m-2">Add New Employee</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center">
                        <div class="card text-white bg-secondary m-2" style="width: 18rem;">
                            <img src="img/users.png" class="card-img-top bg-dark" alt="Users">
                            <div class="card-body text-center">
                                <a href="/manage/upcoming" class="btn btn-primary m-2">Users</a><br>
                                <a href="/manage/upcoming/add" class="btn btn-primary m-2">Add New User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>