<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <div th:replace="fragments :: bootstrap_head"></div>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h3 class="display-4">Dashboard</h3>
                <hr>
                <div class="row">
                    <div class="col-md align-content-center">
                        <div class="card text-white bg-secondary" style="width: 18rem;">
                            <img src="img/tickets.png" class="card-img-top bg-dark" alt="Ticketing">
                            <div class="card-body">
                                <h5 class="card-title">Ticketing</h5>
                                <a href="/manage/ticketing" class="btn btn-primary">Ticketing</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card text-white bg-secondary" style="width: 18rem;">
                            <img src="img/movies.png" class="card-img-top bg-dark" alt="Movies">
                            <div class="card-body">
                                <h5 class="card-title">Movies</h5>
                                <a href="/manage/movies" class="btn btn-primary">Movies</a>
                                <a href="/manage/movies/add" class="btn btn-primary">Add New Movie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">

                    </div>
                    <div class="col-md">

                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>