<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Screenings</title>

    <div th:replace="fragments :: bootstrap_head"></div>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Screenings</h1>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Movie</th>
                        <th scope="col">Seats</th>
                        <th class="text-center" scope="col">Ticketing</th>
                    </tr>
                    </thead>
                    <tbody th:each="screening:${screenings}">
                    <tr>
                        <td th:text="${screening.getStartTime().toLocalDate().toString()}"></td>
                        <td th:text="${screening.getStartTime().toLocalTime().toString()}"></td>
                        <td th:text="${screening.getMovie().getTitle()}"></td>
                        <td th:text="${screening.getNoAvailableSeats()}"></td>
                        <td class="text-center"><a class="btn btn-primary"
                               th:href="'/manage/screening/'+${screening.id}+'/ticketing'">
                            Sell seats</a>
                            <a class="btn btn-primary"
                               th:href="'/manage/screening/'+${screening.id}+'/bookings'">
                            Redeem booking
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>