<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movies View </title>

    <div th:replace="fragments :: bootstrap_head"></div>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron text-dark rounded bg-light border border-dark">
                <h1 class="display-4">Here you have all movies!</h1>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <!--<th scope="col">ID</th>-->
                        <th scope="col">Title</th>
                        <th scope="col">Runtime</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Genre</th>
                        <!--<th scope="col">Language</th>-->
                        <!--<th scope="col">Subtitles</th>-->
                        <!--<th scope="col">Projection Type</th>-->
                        <!--<th scope="col">Trailer Link</th>-->
                        <!--<th scope="col">Release Date</th>-->
                        <!--<th scope="col">Cast</th>-->
                        <!--<th scope="col">Director</th>-->
                        <!--<th scope="col">Age Restriction</th>-->
                        <!--<th scope="col">Poster</th>-->
                        <th scope="col">
                            <abbr title="Add a movie"><a th:href="'/manage/movies/add'">
                                <button class="btn btn-primary">Add Movie</button>
                            </a></abbr>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie:${movies}">
                        <!--<td th:text="${movie.id}"></td>-->
                        <td th:text="${movie.title}"></td>
                        <td th:text="${movie.runtime}"></td>
                        <td th:text="${movie.synopsis}"></td>
                        <td th:text="${movie.genre}"></td>
                        <!--<td th:text="${movie.language}"></td>-->
                        <!--<td th:text="${movie.subtitles}"></td>-->
                        <!--<td th:text="${movie.projectionType}"></td>-->
                        <!--<td th:text="${movie.trailerLink}"></td>-->
                        <!--<td><span th:if="${movie.releaseDate}" th:text="${movie.releaseDate}"></span></td>-->
                        <!--<td th:text="${movie.cast}"></td>-->
                        <!--<td th:text="${movie.director}"></td>-->
                        <!--<td th:text="${movie.ageRestriction}"></td>-->
                        <!--<td th:text="${movie.poster}"></td>-->
                        <td>
                            <abbr title="Edit movie"><a th:href="'/manage/movies/edit/' + ${movie.id}">
                                <button class="btn btn-success">Edit</button>
                            </a></abbr>
                        </td>
                        <td>
                            <abbr title="Delete movie"><a th:href="'/manage/movies/delete/' + ${movie.id}">
                                <button class="btn btn-danger">Delete</button>
                            </a></abbr>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>