<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Remove movie from upcoming list</title>

    <div th:replace="fragments :: bootstrap_head"></div>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Remove a movie</h1>
                <span>Are you sure you wish to remove <span th:text="${movie.getTitle()}"></span> from the upcoming movies list?</span>

                <form action="/manage/upcoming/remove" method="post">
                    <input type="hidden" name="movieId" th:value="${movie.getId()}">
                    <button type="submit" class="btn btn-primary">Remove</button>
                    <a href="/manage/upcoming" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>