<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cancel a booking</title>

    <link th:replace="fragments :: bootstrap_head">
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Cancel booking</h1>
                <hr>
                <h3><b>WARNING!</b> This action cannot be undone.</h3>
                <form action="/booking/cancel" method="post">
                    <div class="form-group">
                        <label for="code">Booking code: </label>
                        <input type="text" class="form-control"
                               id="code" name="bookingCode">
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Cancel booking</button>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>