<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Make a booking</title>

    <div th:replace="fragments :: bootstrap_head"></div>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Choose your seats:</h1>
                <div style="overflow-x: auto">
                <form action="/booking/save" method="post" name="seats">
                    <input type="hidden" name="screeningId" th:value="${screening.getId()}">
                    <div class="form-group">
                        <label for="phone_no">Phone No: </label>
                        <input type="text" class="form-control"
                               id="phone_no" name="phoneNo" required>
                    </div>
                    <table class="table table-dark table-hover">
                        <tbody>
                        <th:block th:each="seat: ${seatData.getSeats()}">
                            <th:block th:if="${seat.getSeatNo() == 1}">
                                <tr>
                                    <td th:text="'Row ' + ${seat.getRowNo()}"></td>
                            </th:block>
                            <td class="seatChkBox customers">
                                <input type="checkbox"
                                       th:id="${seat.getRowNo()} + '_' + ${seat.getSeatNo()}"
                                       th:value="${seat.getRowNo()} + '_' + ${seat.getSeatNo()}"
                                       th:disabled="${!seat.isAvailable()}"
                                       th:field="${seatData.submittedData}">
                                <label th:for="${seat.getRowNo()} + '_' + ${seat.getSeatNo()}"
                                       th:text="${seat.getSeatNo()}"></label>
                            </td>
                            <th:block
                                    th:if="${seat.getSeatNo() == screening.theater.getSeatsPerRow()}">
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Book seats</button>
                </form>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
<script th:inline="javascript">
    function checkboxLimit(checkGroup, limit) {
        for (var i = 0; i < checkGroup.length; i++) {
            checkGroup[i].addEventListener('click', function () {
                var checkedCount = 0;
                for (var i = 0; i < checkGroup.length; i++) {
                    checkedCount += (checkGroup[i].checked) ? 1 : 0;
                    if (checkedCount > limit) {
                        this.checked = false;
                        break;
                    }
                }
            });
        }
    }

    checkboxLimit(document.forms.seats.submittedData, [[${maxSeatsPerBooking}]]);
</script>
</body>
</html>